<div class="h-screen w-auto overflow-y-hidden bg-brown text-green">

  <div class="mt-5 grid grid-cols-3 text-xs text-brown font-poppins">
    <a href="/">
      <div class="h-10">
        <img class="pt-1 pl-6" src="/img/LOGO.png" alt="AdoptMe Logo" />
      </div>
    </a>
    <div class="h-10"></div>
    <div class="flex h-10 items-center justify-end">

      <a href="/profile/{{currentProtSociety.id}}">
        <div class="flex h-7 w-28 items-center rounded-l-full bg-green pl-3">
          <img
            class="mr-2 h-3/5 w-auto"
            src="/img/USER_ICON.png"
            alt="user icon"
          />
          <p>Tu cuenta</p>
        </div>
      </a>
    </div>

    <div class="h-10"></div>
    <div class="flex h-10 items-center justify-center">
      <img class="absolute mt-24 w-1/3" src="/img/DOG.png" alt="Dog Logo" />
    </div>
    <div class="flex h-10 items-center justify-end">
      <a href="/pets/new">
        <div class="flex h-7 w-28 items-center rounded-l-full bg-green pl-3">
          <img
            class="mr-2 h-3/5 w-auto"
            src="/img/PLUS_ICON.png"
            alt="user icon"
          />
          <p>Nuevo</p>
        </div>
      </a>
    </div>

    <div class="h-10"></div>
    <div class="h-10"></div>
    <div class="flex h-10 items-center justify-end">
      <a href="/pets">
        <div class="flex h-7 w-28 items-center rounded-l-full bg-green pl-3">
          <img
            class="mr-2 h-3/5 w-auto"
            src="/img/ADOPTED_ICON.png"
            alt="user icon"
          />
          <p>Peludos</p>
        </div>
      </a>
    </div>
  </div>

  <div class="absolute w-screen mt-8">
    <h1
      class="mt-[1.4rem] mb-5 text-center font-lobster text-5xl uppercase text-brown"
    >{{currentProtSociety.name}}</h1>

    <form class="mt-5" action="/profile/{{currentProtSociety.id}}" method="POST">
      <div class="flex justify-center relative">
        <div id="modal-url" class="hidden h-8 bottom-12 absolute z-10 bg-brown opacity-90 text-green w-10/12 items-center justify-start px-1 py-1 font-poppins text-sm font-medium rounded-full">
          <div class="flex gap-2 top-0 -mt-6 right-0 absolute">
            <button onclick="onCrossClick()" type="button" class="flex justify-center items-center h-[2rem] w-[2rem] rounded-full bg-white">
              <span class="fa fa-times text-red"></span>
            </button>
            <button onclick="onCheckClick()" type="button" class="flex justify-center items-center h-[2rem] w-[2rem] rounded-full bg-white">
              <span class="fa fa-check text-green"></span>
            </button>
          </div>
          <img class="mx-2 h-auto w-4" src="/img/USER_ICON_GREEN.png" alt="user icon">
          <input class="w-11/12 bg-transparent focus:outline-none placeholder-green" name="image" type="text" id="image" placeholder="Escribe la url de tu imagen">
        </div>
        <div
          class="flex h-[9rem] w-[9rem] items-center justify-center rounded-full border-[6px] border-brown relative"
        >
          <div class="h-[7.5rem] w-[7.5rem] rounded-full object-cover object-top relative">
            <img
              id="protSocietyImage" 
              class="h-[7.5rem] w-[7.5rem] rounded-full object-cover object-top"
              src="{{currentProtSociety.image}}"
              alt="{{currentProtSociety.name}} image"
            /> 
            <button onclick="onCameraClick()" type="button" class="flex justify-center items-center h-[2.5rem] w-[2.5rem] rounded-full absolute bg-white bottom-0 right-0">
              <span class="fa fa-camera text-green"></span>
            </button>
          </div>
        </div>
      </div>


      <div class="h-10 mt-3">
        <div
          class="ml-7 flex w-10/12 items-center justify-start border-b border-brown px-1 py-1 font-poppins text-sm font-medium text-brown"
        >
          <img
            class="mr-2 h-auto w-4"
            src="/img/USER_ICON.png"
            alt="user icon"
          />
          <input
            class="w-11/12 bg-transparent focus:outline-none placeholder-brown placeholder:opacity-50"
            name="name"
            type="text"
            id="name"
            placeholder="Nuevo nombre (si desea modificar)"
          />
        </div>
      </div>

      <div class="h-12 mt-3">   
        <div
          class="ml-7 flex w-10/12 items-center justify-start border-b border-brown px-1 py-1 font-poppins text-sm font-medium text-brown {{#if errors.email}}border-b-rose-300  text-sm  block{{/if}}"
        >
          <img
            class="mr-2 h-auto w-4"
            src="/img/MAIL_ICON.png"
            alt="user icon"
          />
          <input
            class="w-11/12 bg-transparent focus:outline-none"
            name="email"
            type="email"
            id="email"
            value="{{currentProtSociety.email}}"
          />
        </div>
        {{#if errors.email}}
          <p class="ml-8 text-xs text-rose-300 ">*{{errors.email}}</p>
        {{/if}}
      </div>

      <div class="h-12 mt-3">
        <div
          class="ml-7 flex w-10/12 items-center justify-start border-b border-brown px-1 py-1 font-poppins text-sm font-medium text-brown {{#if errors.location}}border-b-rose-300 text-sm  block{{/if}}"
        >
          <img
            class="mr-2 h-auto w-4"
            src="/img/LOCATION_ICON_BROWN.png"
            alt="user icon"
          />
          <input
            class="w-11/12 bg-transparent focus:outline-none"
            name="location"
            type="text"
            id="location"
            value="{{currentProtSociety.location}}"
          />
        </div>
        {{#if errors.location}}
          <p class="ml-8 text-xs text-rose-300 ">*{{errors.location}}</p>
        {{/if}}
      </div>

      <div class="h-12 mt-3">
        <div
          class="ml-7 flex w-10/12 items-center justify-start border-b border-brown px-1 py-1 font-poppins text-sm font-medium text-brown"
        >
          <img
            class="mr-2 h-auto w-4"
            src="/img/WEB-ICON.svg"
            alt="user icon"
          />
          <input
            class="w-11/12 bg-transparent focus:outline-none"
            name="website"
            type="text"
            id="website"
            value="{{currentProtSociety.website}}"
          />
        </div>
      </div>

      <div class="h-12 mt-3"> 
        <div
          class="ml-7 flex w-10/12 items-center justify-start border-b border-brown px-1 py-1 font-poppins text-sm font-medium text-brown {{#if errors.password}}border-b-rose-300 text-sm block{{/if}}" 
        >
          <img
            class="mr-2 h-auto w-4"
            src="/img/PASS_ICON.png"
            alt="user icon"
          />
          <input
            class="w-11/12 bg-transparent focus:outline-none placeholder-brown placeholder:opacity-50"
            name="password"
            type="password"
            id="password"
            placeholder="Nueva contraseña (si desea modificar)"
          />
        </div> 
        {{#if errors.password}}
          <p class="ml-8 text-xs text-rose-300 ">*{{errors.password}}</p>
        {{/if}}
      </div>

      <button
        class="mx-auto mt-5 block w-6/12 items-center rounded-full bg-brown px-3 py-1 text-center font-poppins text-lg font-medium text-green"
        type="submit"
      >Guardar</button>
    </form>
  </div>

  <div class="mt-4 h-screen rounded-t-3xl bg-green"></div>

  <script lang="js">
    function onCameraClick() {
      const imageUrlInput = document.querySelector('#modal-url')
      imageUrlInput.classList.remove('hidden')
      imageUrlInput.classList.add('flex')
    }
    function onCrossClick() {
      const imageUrlInput = document.querySelector('#modal-url')
      imageUrlInput.classList.add('hidden')
      imageUrlInput.classList.remove('flex')
    }
    function onCheckClick() {
      const imageUrlInput = document.querySelector('#modal-url')
      const protSocietyImage = document.querySelector('#protSocietyImage')
      const imageInputValue = document.querySelector('#modal-url input').value
      imageUrlInput.classList.add('hidden')
      imageUrlInput.classList.remove('flex')
      protSocietyImage.src = imageInputValue
    }
  </script>
</div>