<div class="h-screen w-auto overflow-y-hidden bg-brown font-poppins">
  <div class="flex justify-center">
    <img class="mt-10 w-1/4" src="/img/DOG.png" alt="Dog Logo" />
  </div>
  <h1 class="mt-20 w-3/4">{{protSociety.name}}</h1>
</div>

<div class="absolute mt-400 w-screen">
  <form action="/profile/{{currentProtSociety.id}}" method="POST">
    <div>
      <label
        class=".rounded-full w-2/4 text-sm font-extralight text-brown"
        for="image"
      >Imagen de perfil</label>
      <input
        name="image"
        type="text"
        id="image"
        value="{{currentProtSociety.image}}"
      />
    </div>

    <div>
      <label
        class=".rounded-full text-sm font-extralight text-brown"
        for="name"
      >Nombre</label>
      <input name="name" type="text" id="name" value="{{currentProtSociety.name}}" />
    </div>

    <div>
      <label
        class=".rounded-full text-sm font-extralight text-brown"
        for="email"
      >Email</label>
      <input
        name="email"
        type="email"
        id="email"
        value="{{currentProtSociety.email}}"
      />
    </div>

    <div>
      <label
        class=".rounded-full text-sm font-extralight text-brown"
        for="location"
      >Localización</label>
      <input
        name="location"
        type="text"
        id="location"
        value="{{currentProtSociety.location}}"
      />
    </div>

    <div>
      <label
        class=".rounded-full text-sm font-extralight text-brown"
        for="website"
      >Página Web</label>
      <input
        name="website"
        type="text"
        id="website"
        value="{{currentProtSociety.website}}"
      />
    </div>

    <div>
      <label
        class=".rounded-full text-sm font-extralight text-brown"
        for="password"
      >Contraseña</label>
      <input
        name="password"
        type="password"
        id="password"
        value="{{protSociety.password}}"
        disabled
      />
    </div>

    <button
      class="rounded-full bg-brown px-5 py-2.5 text-center text-sm font-bold text-red"
      type="submit"
    >Editar</button>
  </form>
</div>

<div class="mt-130 h-screen rounded-t-3xl bg-green"></div>
<form>
  <input type="button" value="Go back!" onclick="history.back()" />
</form>