<div class="h-screen w-auto overflow-y-hidden bg-brown text-green">
  <div class="flex items-center justify-center">
    <img class="absolute mt-24 w-1/6" src="/img/DOG.png" alt="Dog Logo" />
  </div>
  <h1
    class="mt-[4.5rem] mb-6 text-center font-lobster text-5xl uppercase"
  >{{protSociety.name}}</h1>

  <div class="absolute w-screen">
    <div
      class="ml-[5.5rem] mt-4 flex h-48 w-6/12 items-center rounded-full border-[10px] border-brown"
    >
      <div
        class="m-1 flex h-40 w-40 items-center justify-center rounded-full bg-brown"
      >
        <img
          class="m-1 h-[9rem] rounded-full object-cover object-top"
          src="{{protSociety.image}}"
          alt="{{protSociety.name}} image"
        />
      </div>
    </div>

    <p
      class="font poppins align-start ml-6 mt-1 flex w-64 text-2xl text-brown"
    >Nombre</p>
    <div
      class="font-base mt-1 ml-3 flex w-11/12 items-center justify-start rounded-full bg-brown px-3 py-1 font-poppins text-xl text-green"
    >
      <img
        class="mr-2 h-5 w-5"
        src="/img/USER_ICON_GREEN.png"
        alt="user icon"
      />
      <p>{{protSociety.name}}</p>
    </div>

    <p
      class="font poppins align-start ml-6 mt-3 flex w-64 text-2xl text-brown"
    >Email</p>
    <div
      class="font-base mt-1 ml-3 flex w-11/12 items-center justify-start rounded-full bg-brown px-3 py-1 font-poppins text-xl text-green"
    >
      <img
        class="mr-2 h-4 w-5"
        src="/img/MAIL_ICON_GREEN.png"
        alt="user icon"
      />
      <p>{{protSociety.email}}</p>
    </div>

    <p
      class="font poppins align-start ml-6 mt-3 flex w-64 text-2xl text-brown"
    >Localización</p>
    <div
      class="font-base mt-1 ml-3 flex w-11/12 items-center justify-start rounded-full bg-brown px-3 py-1 font-poppins text-xl text-green"
    >
      <img
        class="mr-2 h-5 w-4"
        src="/img/LOCATION_ICON_GREEN.png"
        alt="user icon"
      />
      <p>{{protSociety.location}}</p>
    </div>

    <div class="mt-10 flex justify-evenly">
      <a
        class="font-base mt-1 w-3/12 rounded-full bg-brown px-3 py-1 text-center font-poppins text-sm text-green"
        href="/pets/new"
      >Nuevo animalito</a>
      <a
        class="font-base mt-1 w-3/12 rounded-full bg-brown px-3 py-1 text-center font-poppins text-sm text-green"
        href="/profile/{{protSociety.id}}/edit"
      >Editar perfil</a>
      <a
        class="font-base mt-1 w-3/12 rounded-full bg-brown px-3 py-1 text-center font-poppins text-sm text-green"
        href="/pets"
      >Consultar listado</a>
    </div>

    <a
      class="font-base mx-auto mt-8 block w-6/12 items-center rounded-full bg-brown px-3 py-1 text-center font-poppins text-sm text-green"
      href="{{protSociety.website}}"
    >Visitar web</a>
  </div>

  <div class="h-screen rounded-t-3xl bg-green"></div>

</div>