This is the Protection Society Profile

<h1>{{ protSociety.name }}</h1>
<img width="100px" src="{{protSociety.image}}" alt="{{protSociety.name}} image">
<h3>{{protSociety.location}}</h3>
<h3>{{protSociety.email}}</h3>
<h3>{{protSociety.password}}</h3>
<button onclick="javascript:location.href='{{protSociety.website}}'" type="button">Visita nuestra web</button>

{{!-- Other way to get a button with anchor --}}
{{!-- <form action="/profile/{{protSociety.id}}/edit">
    <input type="submit" value="Editar perfil" />
</form> --}}

<button onclick="javascript:location.href='/profile/{{protSociety.id}}/edit'" type="button">Editar perfil</button>

<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>