{{> backgroundSmall}}
<div class="bg-green h-screen rounded-t-3xl mt-28">
    <div>
        <form class="w-full max-w-sm pt-24" action="/pets" method="POST">

            <div class="mx-8 mb-6">
                <label for="text"></label>
                <input class="w-full text-center bg-brown rounded-full appearance-none border-none focus:outline-none placeholder-green text-green font-light placeholder-opacity-50 " name="name" type="emtextail" id="name" placeholder="Nombre" value="{{pet.name}}" required autocomplete="off"/>
            </div>

            <div class="mx-8 mb-6">
                <label for="image"></label>
                <input class="w-full text-center bg-brown rounded-full appearance-none border-none focus:outline-none placeholder-green text-green font-light placeholder-opacity-50 " name="image" type="text" id="image" placeholder="Escribe la url de tu imagen" value="{{pet.image}}" autocomplete="off"/>
            </div>

            <div class="mx-8 mb-6">
                <label for="class"></label>
                <input class="w-full text-center bg-brown rounded-full appearance-none border-none focus:outline-none placeholder-green text-green font-light placeholder-opacity-50 " name="class" type="text" id="class" placeholder="¿Perro, gato, quizás un dinosaurio?" value="{{pet.class}}" required autocomplete="off"/>
            </div>

            <div class="mx-8 mb-6">
                <label for="age"></label>
                <input class="w-full text-center bg-brown rounded-full appearance-none border-none focus:outline-none placeholder-green text-green font-light placeholder-opacity-50 " name="age" type="text" id="age" placeholder="Edad" value="{{pet.age}}" required autocomplete="off"/>
            </div>

            <div class="mx-8 mb-6">
                <label for="sex"></label>
                <input class="w-full text-center bg-brown rounded-full appearance-none border-none focus:outline-none placeholder-green text-green font-light placeholder-opacity-50 " name="sex" type="text" id="sex" placeholder="Sexo" value="{{pet.sex}}" required autocomplete="off"/>
            </div>

            <div class="mx-8 mb-6">
                <label for="breed"></label>
                <input class="w-full text-center bg-brown rounded-full appearance-none border-none focus:outline-none placeholder-green text-green font-light placeholder-opacity-50 " name="breed" type="text" id="breed" placeholder="Raza" value="{{pet.breed}}" required autocomplete="off"/>
            </div>            

            <div class="mx-8 mb-6">
                <label for="energyLevel"></label>
                <input class="w-full text-center bg-brown rounded-full appearance-none border-none focus:outline-none placeholder-green text-green font-light placeholder-opacity-50 " name="energyLevel" type="text" id="energyLevel" placeholder="Energía: Intensa, normal o baja" value="{{pet.energyLevel}}" required autocomplete="off"/>
            </div>

            <div class="mx-8 mb-6">
                <label for="isAdopted"></label>
                <input class="w-full text-center bg-brown rounded-full appearance-none border-none focus:outline-none placeholder-green text-green font-light placeholder-opacity-50" name="isAdopted" type="text" id="isAdopted" value="false" hidden/>
            </div>

            <div class="mx-8 mb-6">
                <label for="description"></label>
                <textarea name="description" placeholder="Escribe la historia de este peludito" rows="4" cols="38" class="bg-brown rounded-xl focus:outline-none text-green px-2 placeholder-green placeholder-opacity-50 text-center" required autocomplete="off"></textarea>
            </div>

            <div class="mx-20 mb-6">
                <label for="protSociety"></label>
                <input class="w-full text-center bg-brown rounded-full appearance-none border-none focus:outline-none placeholder-green text-green font-light placeholder-opacity-50 opacity-50" name="protSociety" type="text" id="protSociety" value="{{currentProtSociety.name}}" disabled/>
            </div>

            <div class="flex justify-center">
                <button class="w-2/3 h-10 bg-brown text-green rounded-full" type="submit">Añadir nuevo peludito</button>
            </div>
        </form>
    </div>

</div>