<div class="bg-brown h-screen w-auto overflow-y-hidden fixed font-poppins">

  <div class="flex justify-center absolute mt-12">
    <img class="w-1/3" src="/img/PETS.png" alt="Pets AdoptMe"/>
  </div>

  <div class="grid grid-cols-3 mt-5 text-brown text-xs">
      <div class="h-10">
        <img class="pt-1 pl-6" src="/img/LOGO.png" alt="AdoptMe Logo"/>
      </div>
      <div class="h-10"></div>
      <div class="flex justify-end items-center h-10">
        <a href="http://www.google.es">
          <div class="bg-green w-28 h-7 rounded-l-full flex items-center pl-3">
          <img class="h-3/5 w-auto mr-2" src="/img/USER_ICON.png" alt="user icon">
          <p>Tu cuenta</p>
          </div>
        </a>
      </div>
      <div class="flex items-center h-10">
        <img class="h-3/5 pl-6" src="/img/FILTERS_ICON.png" alt="Filters"/>
      </div>
      <div class="h-10"></div>
      <div class="flex justify-end items-center h-10">
        <a href="http://www.google.es">
          <div class="bg-green w-28 h-7 rounded-l-full flex items-center pl-3">
          <img class="h-3/5 w-auto mr-2" src="/img/PLUS_ICON.png" alt="user icon">
          <p>Nuevo</p>
          </div>
        </a>
      </div>

      <div class="h-10"></div>
      <div class="h-10"></div>
      <div class="flex justify-end items-center h-10">
        <a href="http://www.google.es">
          <div class="bg-green w-28 h-7 rounded-l-full flex items-center pl-3">
          <img class="h-3/5 w-auto mr-2" src="/img/ADOPTED_ICON.png" alt="user icon">
          <p>Adoptados</p>
          </div>
        </a>
      </div>
  </div>

  <div class="bg-green h-screen rounded-t-3xl mt-5">

  {{!-- {{#if currentProtSociety.id}}
      <button
        class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
        onclick="javascript:location.href='/pets/new'"
        type="button"
      >Nuevo peludo</button>
      <a href="/profile/{{currentProtSociety.id}}">Profile</a>
    {{/if}}

    <form>
      <input
        value="{{query.name}}"
        type="text"
        name="name"
        id=""
        placeholder="Nombre"
      />

      <input
        value="{{query.class}}"
        type="text"
        name="class"
        id=""
        placeholder="Tipo de animal"
      />

      <input
        value="{{query.sex}}"
        type="text"
        name="sex"
        id=""
        placeholder="Sexo"
      />

      <input
        value="{{query.breed}}"
        type="text"
        name="breed"
        id=""
        placeholder="Raza"
      />
      <button type="submit">search</button>
    </form> --}}

    <div class="w-screen absolute flex justify-center mt-14">
      <p class="text-brown font-lobster text-5xl text-center">Todos nuestros<br/>peludos<p>
    </div>


    <div class="flex justify-center absolute w-full">
      <div class="overflow-y-auto mt-44 h-screen w-full mx-8">
        {{#each pets as |pet|}}

          <div class="bg-brown h-40 w-full rounded-2xl mb-8 flex justify-around items-center drop-shadow-xl">
              <img class="w-32 h-32 object-cover rounded-2xl ml-2" src="{{pet.image}}"/>
            <div class="w-36 h-32 rounded-xl">
              <p class="font-lobster text-green">Nombre: <span class="font-poppins">{{pet.name}}</span></p>
              <p class="font-lobster text-green">Edad: <span class="font-poppins">{{pet.age}}</span></p>
              <p class="font-lobster text-green">Sexo: <span class="font-poppins">{{pet.sex}}</span></p>
              <p class="font-lobster text-green">Lugar: <span class="font-poppins">{{pet.protSociety.location}}</span></p>

              <a href="/pets/{{pet.id}}">
                <div class="bg-green w-28 h-5 rounded-full flex justify-center items-center text-sm text-brown mt-3">
                <p>Conóceme</p>
                </div>
              </a>

            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>