{{> backgroundSmall}}

<div class="flex flex-column justify-center">
  <div class="border-[12px] border-brown w-11/12 h-[260px] flex justify-center items-center rounded-[30px] mt-11">
    <img class="w-11/12 h-52 object-cover rounded-2xl object-top" src="{{pet.image}}"/>
  </div>
</div>
<div class="text-brown font-lobster text-4xl text-center mt-4 mb-4">
  {{pet.name}}
</div>
<div class="flex justify-center">
  <div class="grid grid-cols-2 gap-4 w-11/12">
    <div class="h-10 text-green bg-brown rounded-full text-lg flex justify-center items-center">{{pet.age}}</div>
    <div class="h-10 text-green bg-brown rounded-full text-lg flex justify-center items-center">{{pet.sex}}</div>
    <div class="h-10 text-green bg-brown rounded-full text-lg flex justify-center items-center">{{pet.protSociety.location}}</div>
    <div class="h-10 text-green bg-brown rounded-full text-lg flex justify-center items-center">{{pet.breed}}</div>
  </div>
</div>

<div class="flex justify-center mt-4">
  <p class="w-11/12 h-28 text-green bg-brown rounded-2xl text-base overflow-scroll p-2">{{pet.description}}</p>
</div>

<div class="flex justify-center mt-4">
  <div class="grid grid-cols-2 gap-4 w-11/12">
    <div class="h-8 text-green bg-brown rounded-full text-lg flex justify-center items-center">
      <img class="h-2/3 mr-2" src="/img/LOCATION_ICON_GREEN.png" alt="Mail icon">
      <p>{{pet.protSociety.name}}</p>
    </div>
    <div class="h-8 text-green bg-brown rounded-full text-lg flex justify-center items-center">
      <img class="h-1/2 mr-2" src="/img/MAIL_ICON_GREEN.png" alt="Mail icon">
      <p>Contáctanos</p>
    </div>
  </div>
</div>