{{> backgroundSmall}}


<div class="flex justify-center">
  <div class="border-[12px] border-brown w-11/12 h-52 flex justify-center items-center rounded-[30px] mt-11">
  <img class="w-11/12 h-40 object-cover rounded-2xl object-top" src="{{pet.image}}"/>
  </div>
</div>

<div class="text-brown font-lobster text-5xl text-center mt-4 mb-4">{{pet.name}}</div>

<div class="flex justify-center">
  <div class="grid grid-cols-2 gap-4 w-11/12">
    <div class="h-14 text-green bg-brown rounded-full text-lg flex justify-center items-center">{{pet.age}}</div>
    <div class="h-14 text-green bg-brown rounded-full text-lg flex justify-center items-center">{{pet.sex}}</div>
    <div class="h-14 text-green bg-brown rounded-full text-lg flex justify-center items-center">{{pet.protSociety.location}}</div>
    <div class="h-14 text-green bg-brown rounded-full text-lg flex justify-center items-center">{{pet.breed}}</div>
  </div>
</div>

<div class="flex justify-center mt-4">
  <p class="w-11/12 h-28 text-green bg-brown rounded-2xl text-base overflow-scroll p-2">{{pet.description}}</p>
</div>

<div class="flex justify-center mt-4">
  <div class="grid grid-cols-2 gap-4 w-11/12">
    <div class="h-8 text-green bg-brown rounded-full text-lg flex justify-center items-center">{{pet.protSociety.name}}</div>
    <div class="h-8 text-green bg-brown rounded-full text-lg flex justify-center items-center">Contáctanos</div>
  </div>
</div>